@use "base" as *;

.containers {
  display: flex;
  height: 100px;
}

.box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-box-text {
  color: $base-color-text;
}

.container-1 {
  @extend .containers;
  @include generate-color-palette($base-color-first);
}

.container-2 {
  @extend .containers;
  @include generate-color-palette($base-color-second);
}

.container-3 {
  @extend .containers;
  @include generate-color-palette($base-color-thrid);
}
